 {% extends "web/base.html" %} {%block title %} Contact Us {% endblock %}{% block content %}{%include "web/side.html"%}
<style>
    .contact_content {
        position: relative;
        left: 300px;
        right: -500px;
        top: -620px;
    }
</style>

<div class="contact_content">
    <article id="post-510" class="post-510 page type-page status-publish hentry">
        <header class="entry-header page-header">
            <h1 class="entry-title">Contact Us</h1>
        </header>
        <!-- .entry-header -->

        <div class="entry-content">
            <p>&nbsp;</p>
            <table class=" table table-hover" style="height: 317px; width: 578px;" border="0" width="793" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="width: 305px;" valign="top"><strong>Office</strong></td>
                        <td style="width: 267px;" valign="top"><strong>Phone No.</strong></td>
                    </tr>
                    <tr>
                        <td style="width: 305px;" valign="top">Pulchowk Campus Administration</td>
                        <td style="width: 267px;" valign="top">+977-1-5521260,&nbsp;<span style="font-family: inherit; font-size: inherit;">+977-1-5521611,&nbsp;</span></p>
                            <p>+977-1-5521962, +977-1-5543071</td>
                    </tr>
                    <tr>
                        <td style="width: 305px;" valign="top">Electronics and Computer Department</td>
                        <td style="width: 267px;" valign="top">+977-1-5534070</td>
                    </tr>
                    <tr>
                        <td style="width: 305px;" valign="top">Mechanical Department</td>
                        <td style="width: 267px;" valign="top">+977-1-5542053</td>
                    </tr>
                    <tr>
                        <td style="width: 305px;" valign="top">Electrical Department</td>
                        <td style="width: 267px;" valign="top">+977-1-5543081</td>
                    </tr>
                    <tr>
                        <td style="width: 305px;" valign="top">Civil Department</td>
                        <td style="width: 267px;" valign="top">+977-1-5525477</td>
                    </tr>
                    <tr>
                        <td style="width: 305px;" valign="top">Architecture Department</td>
                        <td style="width: 267px;" valign="top">+977-1-5543079</td>
                    </tr>
                    <tr>
                        <td style="width: 305px;" valign="top">Center for Information Technology</td>
                        <td style="width: 267px;" valign="top">+977-1-5547120</td>
                    </tr>
                    <tr>
                        <td style="width: 305px;" valign="top">BE Boys Hostel</td>
                        <td style="width: 267px;" valign="top">+977-1-5554062, +977-1-5523572</td>
                    </tr>
                    <tr>
                        <td style="width: 305px;" valign="top">BE Girls Hostel</td>
                        <td style="width: 267px;" valign="top">+977-1-5545286</td>
                    </tr>
                    <tr>
                        <td style="width: 305px;" valign="top">MSc. Hostel</td>
                        <td style="width: 267px;" valign="top">+977-1-5522104</td>
                    </tr>
                    <tr>
                        <td style="width: 305px;">&nbsp;</td>
                        <td style="width: 267px;">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <p>E-mail Addresses:</p>
            <p>Campus Administration: campusadmin@pcampus.edu.np</p>
            <p>Admission Related: admission@pcampus.edu.np</p>
            <p>CIT Related: citadmin@pcampus.edu.np&nbsp;</p>

        </div>
        <!-- .entry-content -->

    </article>
    <!-- #post-## -->
</div>

{%endblock%}