<style>
    .mb-4 {
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -340px;
    }
    
    .notice {
        margin: 50px;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-left: 220px;
        position: relative;
        top: -340px;
    }
    
    .desc {
        padding: 15px;
        text-align: center;
        border: 1px solid #ccc;
    }
    
    .desc:hover {
        border: 1px solid #777;
    }
</style>

<div>
    <h2 class="mb-4">Pulchowk Campus</h2>

    <div class="notice">
        <ul style="list-style-type:none;">

            <li>
                <div class="desc">Notice detail here</div>
            </li>
        </ul>
    </div>

</div>