<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> {% load static %}
<!-- <link rel="stylesheet" href="{% static 'css/navbar_style.css' %}"> -->

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
        <!-- <h1><img src="{% static 'img/lolo.png' %}" alt="Tribhuvan University"  class="logo"></h1> -->
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="/home"><span class="fa fa-home"></span> Home</a>
            </li>
            <li>
                <a href="/profile_id/"><span class="fa fa-user"></span> Profile</a>
            </li>
            <li>
                <a href="/schedule"><span class="fa fa-sticky-note"></span>Request Schedule</a>
            </li>
            <li>
                <a href="/schedule/view"><span class="fa fa-eye"></span> View Schedule</a>
            </li>
            <li>
                <a href="/contact"><span class="fa fa-cogs"></span> Contact Us</a>
            </li>
            <li>
                <a href="/logout"><span class="fa fa-paper-plane"></span> Log Out</a>
            </li>
        </ul>


    </nav>

    {% load static %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"65c31071ae94a773","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.5.2","si":10}'></script>

</div>

<style>
    #sidebar {
        position: relative;
        top: -20px;
        min-width: 200px;
        max-width: 250px;
        min-height: 600px;
        max-height: 0px;
        background: #3e64ff;
        color: #fff;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        position: -webkit-sticky;
        height: fixed;
        background-color: #303030;
    }
    
    #sidebar .aactive {
        font-size: 10px;
    }
    
    #sidebar ul li a {
        border-bottom: 0px;
    }
    
    #sidebar.active ul.components li a {
        padding: 10px 0;
    }
    
    #sidebar ul li a {
        border-bottom: 0px;
    }
    
    .fa {
        font-size: 20px;
        padding-bottom: 0px;
    }
    
    #sidebar ul li a {
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }
    
    .btn.btn-primary {
        background: #303030;
        border-color: #303030;
        padding-top: 50px;
    }
    
    .btn.btn-primary:hover,
    .btn.btn-primary:focus {
        background: #303030 !important;
        border-color: #303030 !important;
    }
</style>